#gameInfo {
  .deck {
    position: absolute;
    top: 35px;
    cursor: default;

    .card-event {
      width: 60px;
      height: 90px;
      border: none;
      font-size: 36px;
      display: flex;
      justify-content: center;
      align-content: center;
      color: #ff5900;
      text-shadow: 1px 1px 0 #fff;
    }

    &.drop {
      filter: grayscale(0.7);
      transform: scale(0.5);
      margin-right: -24px;
      margin-top: 40px;
      cursor: default;
      .card-event {
        color: #ccc;
      }
    }
  }
}
.card-event {
  border-radius: 10px;
}

.has-tutorial-example {
  box-shadow: none !important;

  > .tutorial-example {
    display: none;

    .hidden {
      display: none;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }

  &.tutorial-active {
    box-shadow: none;

    > .tutorial-example {
      display: block;
      &.flex {
        display: flex;
      }
    }
    > :not(.tutorial-example) {
      display: none;
    }
  }
}
